main {
  flex-grow: 1;
  background-color: #f7f6f9;
  width: 60%;

}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;

}
main .topControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

main .topControls i:hover {
  color: gray;
}
main .listingControls {
  display: flex;
  gap: 8px;
}

main .customSelect {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}

main .daysControls {
  all: unset;
  font-family: sans-serif;
 
}
.metrics {
margin: 0;
padding: 0;
border: 1px solid rgb(231, 228, 228);
width: 350px;
border-radius: 20px;
padding: 10px;
}
.metrics-title {
font-size: 16px;
font-weight: bold;
}

.metric {
  padding: 7px;
display: flex;
flex-direction: row;
border-bottom: 0.5px solid #9E9E9E;
}
.metric-title {
  display: block;

}
.metric-value {
   margin-left:auto;
   margin-right: 10px;
 
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 50px;

}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-left: 80px;
}
.box {
  border: 1px solid rgb(231, 228, 228);
  width: 150px;
  height: 200px;
  background-color: rgb(79, 4, 79);
  border-radius: 20px;
  text-align: center;
  padding-top:15px;


}
.box-title {
color: whitesmoke;
text-align: justify;
text-align: center;
}

.box-value {
color: whitesmoke;
font-size: 36px;
margin-top: 20px;

}
.box-footer {
  color: whitesmoke;
  margin-top: 40px;

}

.chart {
  width: 100%;
}